@page "/TaskList"

<h3>Task List</h3>

@if (taskList.Count > 0)
{
    <div class="progress my-2">
        <div class="progress-bar" role="progressbar" style="width: @(percentDone)%" 
        aria-valuemin="0" 
             aria-valuemax="100">@(percentDone)%
        </div>
    </div>
}

<EditForm class="form-inline my-2" Model="@newTask" OnValidSubmit="AddTask">
    <InputText class="form-control mx-2" @bind-Value="newTask.Task" />
    <button class="btn btn-outline-primary" type="submit">Add Task</button>
</EditForm>

<ul>
    @foreach (var task in taskList)
    {
        if (task.IsComplete)
        {
            <li class="list-group-item list-group-item-secondary my-1"
                @onclick="(()=> task.IsComplete = !task.IsComplete)">
                <del>@task.Task</del>
            </li>
        }
        else
        {
            <li class="list-group-item list-group-item-success my-1"
                @onclick="(()=> task.IsComplete = !task.IsComplete)">
                @task.Task
            </li>
        }
    }
</ul>

@code {
    // private here only applies to this TaskList page
    private List<TaskModel> taskList = new List<TaskModel>();
    private TaskModel newTask = new TaskModel();
    
    // calculate progress bar percent
    private int percentDone
    {
        get
        {
            return (taskList.Count(x => x.IsComplete) * 100) / taskList.Count;
        }
    }
    
    // method is called when submit button is clicked
    private void AddTask()
    {
        // the model is the newTask so each field is one property in that class
        taskList.Add(newTask);
        
        // reset value after task is added to the list
        newTask = new TaskModel();
    }
}